.animation-display {
  margin: 50px;
}
.animation-display-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.animation-name {
  font-size: 50px;
  padding: 50px;
  color: #fff;
}
.spin {
  content: "";
  height: 100px;
  width: 100px;
  background: hotpink;
}

.spin {
  animation: spin infinite 5s linear;
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}
